@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f9;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-between;
  padding: 0 10px;
}

#quizHeader {
  display: flex;
  justify-content: center;
  background-color: #007bff;
  padding: 5px;
  margin-bottom: 15%;
  width: 100vw;
  height: 120px;
}

.logo {
  object-fit: contain;
  max-width: 100%;
  height: auto;
}

#quizContainer {
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin-bottom: auto;
}

#questionContainer h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

#questionText {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2c3e50;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid #3498db;
  border-radius: 10px;
  background-color: #ecf0f1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

#questionText:hover {
  background-color: #3498db;
  color: #ffffff;
}

#answerOptions {
  list-style-type: none;
  padding: 0;
}

#answerOptions li {
  background-color: #f0f0f0;
  margin: 10px 0;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

#answerOptions li:hover {
  background-color: #e0e0e0;
  transform: scale(1.05);
}

#answerOptions li:focus {
  outline: none;
  background-color: #ddd;
  transform: scale(1.05);
}

#answerOptions .selected {
  background-color: #007bff;
  color: white;
  border: 2px solid #0056b3;
}

#resultContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #007bff;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  max-width: 400px;
}

#resultContainer.hidden {
  display: none;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
}

#nextBtn {
  background-color: #4caf51;
}

#nextBtn:hover {
  background-color: #45a049;
}

#restartBtn {
  background-color: #ffa500;
}

#restartBtn:hover {
  background-color: #c4840e;
}

.hidden {
  display: none;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007bff;
  color: white;
  padding: 15px 10px;
  width: 100vw;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  margin-top: auto;
}

footer a {
  color: #ffd700;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

footer a:hover {
  color: white;
  text-shadow: 0 0 5px #ffd700, 0 0 1px #ffd700;
}

@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
  #quizHeader {
    height: 100px;
  }

  #questionText {
    font-size: 1.2rem;
    padding: 8px;
  }
  #answerOptions li {
    font-size: 1rem;
    padding: 12px;
  }
  footer {
    padding: 10px 5px;
  }
  footer span {
    font-size: 0.8rem;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  #quizHeader {
    height: 150px;
  }

  #questionText {
    font-size: 1.3rem;
  }

  #answerOptions li {
    font-size: 1.2rem;
    padding: 14px;
  }
}

@media (min-width: 1025px) {
  #quizHeader {
    height: 180px;
  }

  #questionText {
    font-size: 1.5rem;
  }

  #answerOptions li {
    font-size: 1.4rem;
    padding: 16px;
  }
}
